* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url("images/background.png");
    background-size: cover;
    color: white;
}
#container {
    margin: 55px 70px 55px 70px;
}
nav, footer {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}
section {
    width: 420px;
    margin: 0px 40px 0px 40px
}
.box {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
form {
    padding: 20px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    color: rgb(175, 175, 175);
}
.inputBox {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 6px 0px 6px 0px;
}
.iconBox {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input, select {
    padding: 10px 0px 10px 20px;
    font-size: 16px;
    background-color: rgb(244, 244, 244);
    border: 0px;
    border-left: 2px solid rgba(175, 175, 175, 0.3);
    color: rgb(175, 175, 175);
}
p {
    text-align: center;
    font-size: 32px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin: 25px 0px 25px 0px;
}
textarea {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    background-color: rgb(244, 244, 244);
    width: 340px;
    height: 230px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(175, 175, 175);
    margin-bottom: 20px;
    padding: 16px;
}
.select-style {
    width: 270px;
    overflow: hidden;
    position: relative;
}
.select-style:after {
    top: 50%;
    left: 90%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-top-color: rgb(175, 175, 175);
    border-width: 8px;
    margin-top: -3px;
    z-index: 100;
}
.select-style select {
    cursor: pointer;
    width: 104%;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-style select:focus {
    outline: none;
}
.labelBox {
    display: flex;
    align-items: center;
}
.checkbox {
    appearance: none;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    cursor: pointer;
    margin: 0px 15px 0px 0px;
}
.checkbox:checked {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    box-shadow: 0px 0px 0px 5px rgb(244, 244, 244) inset;
    cursor: pointer;
    margin: 0px 15px 0px 0px;
    background-image: linear-gradient(rgb(163, 216, 64), rgb(126, 195, 31));
}
.big {
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: 1px solid rgb(58, 154, 0);
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    width: 340px;
    background-image: linear-gradient(rgb(163, 216, 64), rgb(126, 195, 31));
    text-shadow: 1px 1px 0px rgb(58, 154, 0);
}
.small {
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: 1px solid rgb(58, 154, 0);
    border-radius: 3px;
    padding: 10px;
    width: 150px;
    background-image: linear-gradient(rgb(163, 216, 64), rgb(126, 195, 31));
    text-shadow: 1px 1px 0px rgb(58, 154, 0);
}
.red {
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: 1px solid rgb(162, 32, 42);
    border-radius: 3px;
    padding: 10px;
    width: 150px;
    background-image: linear-gradient(rgb(246, 94, 112), rgb(240, 55, 71));
    text-shadow: 1px 1px 0px rgb(162, 32, 42);
    float: right;
}
.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#done {
    border: 1px solid rgb(58, 154, 0, 0.5);
    background-image: linear-gradient(rgb(163, 216, 64, 0.5), rgb(126, 195, 31, 0.5));
}
.icon {
    opacity: 0.15;
}
.logo {
    opacity: 0.4;
}
.logo-mini {
    opacity: 0.4;
    margin-top: 50px;
}

